<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding tasks</title>
</head>
<body>
    <a href="/">Home</a> <a href="/listTask">List Tasks</a>

        <form action="/formTask" method="POST">
        Task Name <input type="text" name = "newTask"/></br>
        Task Due <input type="text" name = "newDue"/></br>
        Task Desc <input type="text" name = "newDesc"/></br>
        <button>Submit</button>
        </form>
</body>
</html>